<!--The content below is only a placeholder and can be replaced.-->
<div class="container mat-typography">

    <div class="contents">

        <div class="title">
            <h1 class="mat-display-1">Wikipedia Viewer</h1>
        </div>

        <div class="input-box">
            <mat-form-field>
                <input matInput placeholder="Enter a search term" (keyup)="searchTerm$.next($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>

        <div class="search-results">
            <mat-list>
                <mat-list-item *ngFor="let link of linksArray">
                <a [href]="link"> {{ link }}</a>
                </mat-list-item>
            </mat-list>
        </div>

    </div>
</div>



